/* Header Section Styles */

* {
    font-family: Mulish;
}
.prmry-btn :hover{
    background-color: white;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    margin-left: 50px;
    margin-right: 100px;
}

.heading {
    display: inline-flex;
    gap: 10px;

}

nav a {
    text-decoration: none;
    color: #424247;
}

.heading-links {
    display: inline-flex;
    padding: 10px 0px;
    justify-content: center;
    align-items: center;
    gap: 44px;
}

.prmry-color {
    color: #FF5400;
}

nav h1 {
    font-size: 35px;
}

nav img {
    width: 48px;
    height: 56.008px;
    margin-top: 20px;
}

/* Banner Section Style */

.banner-container {
    display: flex;
    display: inline-block;
    text-align: center;
    align-items: center;
    background: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%), url(Images/Group\ 13\ \(1\)\ \(1\).png);
    background-size: cover;
    position: center;
    border-radius: 15px;
    background-repeat: no-repeat;
    width: 1200px;
    height: 500px;
    margin-left: 150px;
}

.banner-heading {
    color: #FFF;
    font-size: 65px;
    font-weight: 800;

}

.banner-description {
    color: #FFF;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}

.banner-inputs {
    display: inline-flex;
    align-items: flex-start;
    padding: 16px;
    gap: 24px;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.30);
}

.where {
    width: 170px;
    height: 40px;
    border-radius: 10px;
    background: #FFF;
}

.when {
    border-radius: 10px;
    background: #FFF;
    width: 170px;
    height: 40px;
}

.select {
    border-radius: 10px;
    background: #FFF;
    width: 170px;
    height: 40px;
}

.find-now {
    width: 170px;
    height: 40px;
    border-radius: 10px;
    background: #FF5400;
    color: #FFF;
    text-align: center;
    font-family: Mulish;
    font-size: 15px;

}

.banner-inputs>select {
    margin-bottom: 5px;
}

/* <!-- Our Popular Tours Section Styles --> */

.our-popular-container {
    display: flex;
    margin-top: 100px;
    margin-left: 100px;
    gap: 100px;
}

.our-popular-description {
    width: 45%;
}

.our-popular-heading {
    color: #131318;
    font-size: 40px;
    font-weight: 800;
}

.prmry-description {
    color: rgba(19, 19, 24, 0.70);
    font-size: 15px;
    font-weight: 400;
    line-height: 25px;
}

.prmry-btn {
    border: none;
    width: 170px;
    height: 50px;
    border-radius: 8px;
    background: #FF5400;
    color: #FFF;
    text-align: center;
    font-family: Mulish;
    font-size: 20px;
}

/* Destination Section Style */

.grid-section {
    margin-top: 100px;
    align-items: center;
    text-align: center;
}

.Destination-header {
    text-align: center;
}

.row1 {
    border: 20px solid #FFF;
}

.row2 {
    border: 20px solid #FFF;
}

.row3 {
    border: 20px solid #FFF;
}


/* Why-Choose-Us Section Style */
.why-choose-us {

    margin-top: 50px;
}

.why-choose-us-header {
    text-align: center;
    align-items: center;
}

.first-line {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 100px;
    margin-left: 180px;
    gap: 20px;
}

.prmry-description-none {
    width: 80%;
    color: #5A5A5D;
    font-family: Mulish;
    font-size: 15px;
}

.hotel {
    width: 570px;
    height: 280px;
    padding: 20px;
    border-radius: 15px;
    border: 1px solid rgba(251, 181, 99, 0.20);
    background: rgba(251, 181, 99, 0.05);
}

.map {
    border-radius: 15px;
    padding: 20px;
    border: 1px solid rgba(41, 206, 246, 0.20);
    background: rgba(41, 206, 246, 0.05);
    width: 570px;
    height: 280px;
}

.price {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    margin-left: 450px;
    width: 570px;
    height: 280px;
    color: #5A5A5D;
    font-size: 15px;
    border-radius: 15px;
    border: 1px solid rgba(233, 68, 68, 0.20);
    background: rgba(233, 68, 68, 0.05);
    padding: 20px;
    margin-top: -75px;
}

.why-choose-us-heading {
    color: #131318;
    font-family: Mulish;
    font-size: 25px;
}

/* A Simple Perfect Place To Get Lost Section Style */

.a-simple-perfect {
    margin: 100px;
    display: flex;
    justify-content: center;
}

.simple-list {
    color: #131318;
    font-family: Mulish;
    font-size: 15px;
    font-weight: 700;
    width: 70%;
    padding-bottom: 20px;
}

/* Newsletter Section Style */



.newsletter-container {
    display: flex;
    justify-content: space-evenly;
}

.box {
    align-items: center;
    border-radius: 16px;
    border: 1px solid #FF5400;
    width: 474px;
    height: 422px;
}

.newsletter-content {
    margin-left: 40px;
    margin-top: 50px;
}

.form {
    margin-top: 100px;
    margin-left: 20px;
}

form>input {
    width: 393px;
    height: 40px;
    flex-shrink: 0;
    border-radius: 8px;
    background: rgba(19, 19, 24, 0.05);
    border: none;
    margin-bottom: 10px;

}

.newsletter-btn {
    color: #FFF;
    text-align: center;
    font-family: Mulish;
    font-size: 20px;
    font-weight: 800;
    width: 393px;
    height: 40px;
    border-radius: 8px;
    background: #FF5400;
}

/* Footer Section Style */

.footer-section {
    margin-top: 200px;
    width: 100%;
    height: 500px;
    background: rgba(19, 19, 24, 0.05);
    padding-top: 100px;
}

.footer-description {
    text-align: center;
    align-items: center;
}

.footer-icons {
    text-align: center;
    align-items: center;
}

.footer-header {
    color: var(--Dark-01, #131318);
    font-family: Mulish;
    font-size: 30px;
    font-weight: 800;
}
.last{
    text-align: center;
    align-items: center;
    padding-top: 100px;
}

/* For Mobile Device */

@media screen and (max-width: 600px) {

    .banner-container,
    .our-popular-container {
        flex-direction: column;
    }

    .header-container,
    .a-simple-perfect {
        flex-direction: column;
    }

    .banner-container {
        margin: 2px;
        width: 100%;
        background-position: center;
    }
    .banner-inputs {
        flex-direction: column;
    }

    .banner-heading {
        font-size: 25px;
    }

    .our-popular-container {

        margin: 2px;
        width: 100%;
    }

    .our-popular-description {
        width: 100%;
    }

    .grid-img {
        width: 335px;
        height: 176px;
        align-items: center;
    }

    .row1>img {
        width: 335px;
        height: 175px;
    }

    .row2>img {
        width: 335px;
        height: 175px;
    }

    .row3>img {
        width: 335px;
        height: 175px;
    }

    .why-choose-us {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        margin: 0;
        padding: 0;
        margin-top: 1300px;
    }

    .first-line {
        margin: 0px;
        margin-left: 0px
    }

    .a-simple-perfect {
        margin: 0px;
        text-align: left;
    }

    .simple-video {
        margin-top: 30px;
        justify-content: center;
        align-items: center;
        width: 200px;
        height: 200px;
    }

    .form {
        width: 335px;
        height: 353px;
        margin-left: 0px;
    }

    .newsletter-container {
        flex-direction: column;
        justify-content: center;
        margin-top: 200px;
        padding: 0px;
    }

}